.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.2)), url(images/back.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav img {
    width: 65px;
    margin-top: -22px;
    margin-left: -10px;
}


/*color under each boutton*/

#myNavbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#myNavbar ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 98%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
}

.text-box cite {
    color: aqua;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #1dffa8;
    background: #5d6be9;
    transition: 1s;
}

.learn {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 7%;
}

learn h1 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 600;
}

learn p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    /*box distance*/
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

learn h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}


/*shadow box*/

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
}


/*screen <700px box sera column*/

@media(max-width: 700px) {
    .row {
        flex-direction: column;
    }
}


/*----about me----*/

.nasser {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.about {
    transition: 0.5s;
}

.about:hover {
    background: rgba(139, 234, 247, 0.5)
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
}

.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(139, 234, 247, 0.5)
}

.layer h3 {
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

.fac {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px
}

.fac {
    width: 100%;
    position: absolute;
    left: 0;
    transition: 0.5s;
}

.fac:hover {
    background: rgba(139, 234, 247, 0.5)
}