html,
body {
    height: 70%;
}

body {
    min-height: 100vh;
    width: 100%;
    background-image: url("images/b.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

.a {
    margin-top: 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 50%;
}

.input-group {
    opacity: 0.8;
}

#ww {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

.form-control {
    border: aqua, solid;
}

#myNavbar ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

#myNavbar ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 98%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

nav img {
    width: 65px;
    margin-top: -22px;
    margin-left: -10px;
}

.input-group:hover {
    box-shadow: 0 0 20px 0px rgba(64, 206, 107, 3);
}

#ww:hover {
    box-shadow: 0 0 20px 0px rgba(65, 143, 207, 3);
}